html, body {
    overflow: hidden;
    width: 100%;
    margin: 0;
    background-color: #733f29;
}

#canvas{
    margin: 0;
    padding: 0;
    margin: auto;
    display: block;
    background-color: burlywood;    
}

#container{
    visibility: hidden;
}
